<!-- 'login.html' will handle loging in a user, this will use a basic HTML form to gather the login information and the form data
will be gathered in 'auth.py' handling backend functions to approprately login the user -->

{% extends 'base.html' %}

{% block content %}

<!-- Jinja2 logic for flashing messages with flash -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <!-- Div for the flashed message so we can style and add a button to close the flash -->
        <div class="flashedMessage">
            {{message}}
            <!-- Button with the HTML Entity for an X symbol -->
            <button onclick="this.parentElement.style.display='none';">&times;</button> <!-- Use JavaScript to hide the flashed message (AI helped here as I dont know js yet) -->
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- HEADER for 'login.html'-->
<header>
    <!-- Main header for login page -->
    <h1>Checkbook App</h1>
</header>

<!-- MAIN element (semantic html) -->
<main>
    <!-- div for login form -->
    <div class="loginForm">
        <!-- Main h2 for the login page -->
        <h2>Login</h2>
        <!-- Login Form -->
        <form action="{{url_for('auth.login')}}" method="POST">
            <!-- Username -->
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required placeholder="Enter your username">
            <!-- Password -->
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required placeholder="Enter your password">
            <!-- Submit -->
            <input type="submit" value="Login">
            <!-- Link to register page -->
            <p>Don't have an account? <a href="{{url_for('auth.register')}}">Register here</a></p>
        </form>
    </div>
</main>

<!-- FOOTER -->

{% endblock %}