<!-- 'login.html' will handle loging in a user, this will use a basic HTML form to gather the login information and the form data
will be gathered in 'auth.py' handling backend functions to approprately login the user -->

{% extends 'base.html' %}

{% block content %}

<!-- Jinja2 logic for flashing messages with flash -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- Main header for the login page -->
<h1>Login</h1>

<!-- login form -->
<div class="loginForm">
    <form action="{{url_for('auth.login')}}" method="POST">
        <!-- Username -->
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required placeholder="Enter your username">
        <!-- Password -->
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required placeholder="Enter your password">
        <!-- Submit -->
        <input type="submit" value="Login">
        <!-- Link to register page -->
        <p>Don't have an account? <a href="{{url_for('auth.register')}}">Register here</a></p>
    </form>
</div>

{% endblock %}