#Git ignore file
#don't want to include:
#   __pycache__ directory /
#   env directory /
#   instance directory /

__pycache__/
env/
instance/
.env

#good practice to ignore .DS_Store (created by mac)
.DS_Store