//This project uses SCSS (CSS Preprocessor) for styling to allow for variables, nesting, and other features
//The app primarily uses flexbox for a responsive design and uses some grid for specific layouts
//Additionally, this stylesheet aims to focus on the basics of CSS like box-model to create a simple but effective design

//variables
$background-color: #252321;
$text-color: #E0B8BE;
$submit-button-color: #F08080;
$month-button-color: #4FD1C5;
$deposit-color: #8FCB9B;
$withdraw-color: #D88383;

//BASE STYLES FOR EVERY PAGE
//body styles
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: $background-color;
    color: $text-color;

    //box model styles
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
//header styles
header {
    //target the banner class
    .banner {
        //flexbox styles
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        //font styles
        font-size: 36px;
        font-weight: 800;
        text-align: center;

        //target the image
        img {
            //box model styles
            width: 100px;
            height: 100px;
            margin-right: 20px; //space between the image and the text
        }
    }

    //target the nav bar
    nav.navbar {
        //flexbox styles
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        //target the ul
        ul {
            //remove the default list styles
            list-style-type: none;

            //flexbox styles
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            //box model stlyes
            margin-top: 0;
            padding: 10px 0;
            border: 2px solid white;
            border-radius: 5px;

            //style
            width: 80%;

            //target the list items
            li {
                margin: 0;
                padding: 5px 0;
                display: flex;
                align-items: center;
            }
            //target the links
            //logout link, dashboard link, and back link styles
            a#logoutlink, a#dashboardlink, a#backlink {
                color: darken($text-color, 20%);
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                text-decoration: none;

                &:hover {
                    color: darken($text-color, 30%);
                    cursor: pointer;
                }
            }
        }
    }
}

//style flashed messages
.flashedMessage {
    //flexbox styles
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    //box model styles
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px 0;

    //background
    background-color: lighten($background-color, 5%);

    //style the button
    button {
        width: 1.5rem;
        height: 1.5rem;
        background-color: $submit-button-color;
        border: 2px solid;
        border-radius: 5px;
        font-size: 12px;

        &:hover {
            background-color: darken($submit-button-color, 5%);
            cursor: pointer;
        }
    }
}

//style the forms error messages
span#formErrors {
    //flexbox styles
    display: flex;
    align-items: center;
    justify-content: center;

    //box model styles
    width: 100%;
    margin: 10px 0;

    //text styles
    color: red;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

//LOGIN AND REGISTER PAGE STYLES
//loginForm and registerForm styles
.loginForm, .registerForm {
    //flexbox stlyes
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //box model styles
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 20px;

    //style the h2
    h2 {
        font-size: 36px;
    }

    //style the labels
    label {
        font-size: 18px;
        font-weight: 800;
    }

    //style the input fields
    input {
        //box model styles;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 2px solid black;
        border-radius: 5px;
        //default browser styling will mess up the submit button so change box-sizing
        box-sizing: border-box; 
    }

    //more specific for the submit button
    input[type="submit"] {
        background-color: $submit-button-color;

        //box model styles
        border: 2px solid white;
        border-radius: 10px;

        &:hover {
            background-color: darken($submit-button-color, 5%);
            cursor: pointer;
        }
    }

    //select the p tag 
    p {
        text-align: center;
    }

    //select the p tags anchor element
    p > a {
        color: darken($text-color, 20%);
        font-weight: 600;
    }
}

//DASHBOARD PAGE STYLES
//year selector styles
.yearSelector {
    //flexbox stlyes
    //puts the h3 and the form elements in a column
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //style the h3
    h3 {
        font-size: 24px;
        font-weight: 600;
    }

    //style the form
    form {
        //puts the .yearForm container and submit button in a column
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        //target the yearForm class
        .yearForm {
            //flexbox styles
            //puts the label and select elements in a row and a gap between them
            display: flex;
            align-items: center;
            gap: 0.5rem;

            //style the label element
            label {
                font-size: 18px;
                font-weight: 800;
            }

            //style the select element
            select {
                padding: 2px 0;
                border: 2px solid darken($background-color, 5%);
                border-radius: 5px;
                background-color: lighten($background-color, 10%);
                color: $text-color;
                font-size: 16px;

                //hover effect for pointer
                &:hover {
                    cursor: pointer;
                }
            }
        }

        //style the submit input button
        input[type="submit"] {
            background-color: $submit-button-color;
            height: 30px;

            //box model styles
            border: 2px solid white;
            border-radius: 10px;
            margin: 5px 0;

            //hover effect
            &:hover {
                background-color: darken($submit-button-color, 5%);
                cursor: pointer;
            }
        }
    }
}

//month button styles
.monthButtonContainer {
    //grid styles
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    //box model styles
    margin: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    
    //style the buttons
    button {
        background-color: $month-button-color;
        width: 100%;
        height: 60px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;

        &:hover {
            background-color: darken($month-button-color, 10%);
            cursor: pointer;
        }
    }
}

//CHECKBOOK PAGE STYLES
//style the table data container
.tableData {
    //flexbox styles
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //style the placeholder message if there is no table
    h3#tablePlaceholder {
        font-size: 36px;
        font-weight: 600;;
        margin: 20px;
    }

    //target the table element
    table {
        //box model styles
        border: 2px solid white;
        border-radius: 5px;
        border-spacing: 0; //for removing gap between table cols
        width: 80%;
        padding: 20px;
        margin-bottom: 40px;

        background-color: lighten($background-color, 2%);
        
        //target the table header and its children
        thead th{
            //box model styles
            border: 2px solid white;
            padding: 10px;
            margin: 0;

            //text styles
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        //target the table row and table data
        tr td {
            //box model styles
            border-left: 2px solid white;
            border-right: 2px solid white;
            border-bottom: 2px solid white;
            padding: 10px;

            //text styles
            font-size: 18px;
            text-align: center;

            //target the specific td elements with classes deposit and withdwraw
            &.deposit {
                background-color: $deposit-color;
            }
            &.withdraw {
                background-color: $withdraw-color;
                width: 10%;
            }

            //target the buttons
            button {
                background-color: $submit-button-color;
                //box model styles
                width: 100%;
                height: 30px;
                margin: 0.2rem 0;
                padding: 5px;
                border: 2px solid white;
                border-radius: 5px;

                //text styles
                font-size: 16px;

                //hover effect
                &:hover {
                    background-color: darken($submit-button-color, 5%);
                    cursor: pointer;
                }
            }
        }
    }
}

//style the checkbook forms
.checkbookForms {
    //flexbox styles
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    //target the user input and starting balance form
    .userInput, .startingBalance {
        //flexbox styles
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        //box model styles
        margin-bottom: 20px;

        //form styles
        form {
            //flexbox styles
            //puts each 'form-row' container in a column
            display: flex;
            flex-direction: column;
            gap: 1rem;

            //box model styles
            border: 2px solid white;
            border-radius: 5px;
            padding: 20px;

            background-color: lighten($background-color, 2%);

            //target p tags
            p {
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                margin: 0;
                padding: 0;

                //target the nested span
                span {
                    color: darken($text-color, 20%);
                }
            }

            //target the form-row class
            .form-row {
                //flexbox styles
                display: flex;
                align-items: center;
                gap: 1rem;

                //target the label element
                label {
                    font-size: 18px;
                    font-weight: 800;
                }

                //target the input elements 
                input, select {
                    margin-left: auto;

                    background-color: lighten($background-color, 10%);
                    border: 2px solid white;
                    border-radius: 5px;
                    padding: 5px;
                    color: $text-color;
                    font-size: 14px;
                }

                //give the select element a cursor pointer on hover
                select {
                    &:hover {
                        cursor: pointer;
                    }
                }

                //target the submit button specifically
                input[type="submit"] {
                    //center the submit button
                    margin: auto;

                    background-color: $submit-button-color;
                    color: black;
                    font-size: 16px;
                    height: 40px;
                    width: 150px;

                    //box model styles
                    border: 2px solid white;
                    border-radius: 10px;

                    //hover effect
                    &:hover {
                        background-color: darken($submit-button-color, 5%);
                        cursor: pointer;
                    }

                    //change the width for the .startingBalance submit
                    &#startingBalanceSubmit {
                        width: 250px;
                    }
                }
            }
        }
    }
}

