<!-- 'checkbook.html' sets up the main checkbook page for a specific months transactions. 
This page has a main table that displays the users transaction data in columns of "Content", "Amount", "Type", and "Actions"
There is also a form below the table which will allow users to input their transactions data -->
<!-- Lastly, there is a link back to the 'dashboard.html' page -->

{% extends 'base.html' %}

{% block content %}

<!-- HEADER for 'dashboard.html'-->
<header>
    <!-- Heading for the Check Register -->
    <h1>Check Register for {{month_name}} {{year_id}}</h1>
</header>

<!-- Create a div and class for the checkbook table -->
<div class="tableData">
    <!-- Add Jinja2 logic -->
    {% if transactions | length < 1 %}
        <h3>Add Your First Transaction!</h3>
    {% else %}
        <!-- Create the checkbook table -->
        <table>
            <thead>
                <th>Date</th>
                <th>About</th>
                <th>Amount</th>
                <th>Type +/-</th>
                <th>Actions</th>
            </thead>
            <!-- Add looping logic to create the table from the database data -->
            {% for transaction in transactions %}
                <tr>
                    <td>{{transaction.date.strftime("%Y-%m-%d")}}</td> <!-- Format the date to YYYY-MM-DD using strftime -->
                    <td>{{transaction.content}}</td>
                    <td>{{transaction.formatAmount}}</td>
                    {% if transaction.type == "+" %}
                        <td class="deposit">{{transaction.type}}</td>
                    {% elif transaction.type == "-" %}
                        <td class="withdraw">{{transaction.type}}</td>
                    {% endif %}
                    <td>
                        <!-- Give edit and delete options in the table -->
                        <a href="{{url_for('view.delete', year_id=year_id, month_id=month_id, id=transaction.id)}}">Delete</a>
                        <br>
                        <a href="{{url_for('view.edit', year_id=year_id, month_id=month_id, id=transaction.id)}}">Edit</a>
                    </td>
                </tr> 
            {% endfor %}
        </table>
    {% endif %}
</div>

<!-- Create a Form for user input -->
<div class="userInput">
    <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
        <!-- Wrap each input field in a container called 'form-row' for styling purposes -->
        <!-- Date Input -->
        <div class="form-row">
            <label for="date">Transaction Date: </label>
            <input type="date" name="date" id="date" value="{{default_month}}" required>
        </div>
        <!-- Content Input -->
        <div class="form-row">
            <label for="content">Transaction Description: </label>
            <input type="text" name="content" id="content" required>
        </div>
        <!-- Amount Input -->
        <div class="form-row">
            <label for="amount">Transaction Amount: </label>
            <input type="text" name="amount" id="amount" required>
        </div>
        <!-- Create a select dropdown for the transaction type -->
        <div class="form-row">
            <label for="type">Transaction Type (+/-): </label>
            <select name="type" id="type" required>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </div>
        <!-- Submit Button -->
        <div class="form-row">
            <input type="submit" value="Add Transaction" id="btnAdd">
        </div>
    </form>
</div>

<!-- Create a link back to the Dashboard-->
<div>
    <a href="{{url_for('view.dashboard')}}">Dashboard</a>
</div>

{% endblock %}