<!-- 'checkbook.html' sets up the main checkbook page for a specific months transactions. 
This page has a main table that displays the users transaction data in columns of "Content", "Amount", "Type", and "Actions"
There is also a form below the table which will allow users to input their transactions data -->
<!-- Lastly, there is a link back to the 'dashboard.html' page -->

{% extends 'base.html' %}

{% block content %}

<!-- HEADER for 'dashboard.html'-->
<header>
    <!-- Heading for the Check Register -->
    <h1>Check Register for {{month_name}} {{year_id}}</h1>
</header>

<!-- Create a div and class for the checkbook table -->
<div class="tableData">
    <!-- Add Jinja2 logic -->
    {% if transactions | length < 1 %}
        <h3 id="tablePlaceholder">Add Your First Transaction!</h3>
    {% else %}
        <!-- Create the checkbook table -->
        <table>
            <thead>
                <th>Type +/-</th>
                <th>Date</th>
                <th>About</th>
                <th>Amount</th>
                <th>Actions</th>
            </thead>
            <!-- Add looping logic to create the table from the database data -->
            {% for transaction in transactions %}
                <tr>
                    {% if transaction.type == "+" %}
                        <td class="deposit"></td>
                    {% elif transaction.type == "-" %}
                        <td class="withdraw"></td>
                    {% endif %}
                    <td>{{transaction.date.strftime("%Y-%m-%d")}}</td> <!-- Format the date to YYYY-MM-DD using strftime -->
                    <td>{{transaction.content}}</td>
                    <td>{{transaction.formatAmount}}</td>
                    <td>
                        <!-- Give edit and delete options in the table -->
                        <a href="{{url_for('view.delete', year_id=year_id, month_id=month_id, id=transaction.id)}}">
                            <button>Delete</button> <!-- Create a link that looks like a button -->
                        </a>
                        <br>
                        <a href="{{url_for('view.edit', year_id=year_id, month_id=month_id, id=transaction.id)}}">
                            <button>Edit</button>
                        </a>
                    </td>
                </tr> 
            {% endfor %}
        </table>
    {% endif %}
</div>

<!-- Create a Form for the users starting monthly balance -->
<div class="startingBalance">
    <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
        <!-- Make sure there are no transactions so this is the first thing the user does -->
        {% if not balance %}
            <!-- Hidden input field for backend purposes -->
            <input type="hidden" name="form_id" value="balanceForm">
            <label for="startingBalance">Starting Balance For {{month_name}} {{year_id}}: </label>
            <input type="number" step="any" name="startingBalance" id="startingBalance" required>
            <input type="submit" value="Set Starting Balance">
        {% else %}
            <p>Balance: ${{balance}}</p>
        {% endif %}
    </form>
</div>

<!-- Create a Form for user input -->
<div class="userInput">
    <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
        <!-- Hidden input field for backend purposes -->
        <input type="hidden" name="form_id" value="inputForm">
        <!-- Wrap each input field in a container called 'form-row' for styling purposes -->
        <!-- Date Input -->
        <div class="form-row">
            <label for="date">Transaction Date: </label>
            <input type="date" name="date" id="date" value="{{default_month}}" required>
        </div>
        <!-- Content Input -->
        <div class="form-row">
            <label for="content">Transaction Description: </label>
            <input type="text" name="content" id="content" required>
        </div>
        <!-- Amount Input -->
        <div class="form-row">
            <label for="amount">Transaction Amount: </label>
            <input type="number" step="any" name="amount" id="amount" required>
        </div>
        <!-- Create a select dropdown for the transaction type -->
        <div class="form-row">
            <label for="type">Transaction Type (+/-): </label>
            <select name="type" id="type" required>
                <option value="+">+</option>
                <option value="-">-</option>
            </select>
        </div>
        <!-- Submit Button -->
        <div class="form-row">
            <input type="submit" value="Add Transaction" id="btnAdd">
        </div>
    </form>
</div>

<!-- Create a link back to the Dashboard-->
<a href="{{url_for('view.dashboard')}}" id="dashboardlink">Dashboard</a>

{% endblock %}