<!-- 'checkbook.html' sets up the main checkbook page for a specific months transactions. 
This page has a main table that displays the users transaction data in columns of "Content", "Amount", "Type", and "Actions"
There is also a form below the table which will allow users to input their transactions data -->
<!-- Additionally, there is a special form that is required to be filled out first which has the user set a starting balance
for the month just like how a real checkbook tracks total progress, this form is required and will disable the transaction form until it is filled out -->
<!-- See 'StartingBalanceForm', 'ResetBalanceForm', and 'UserInputForm' in 'forms.py' for more information about the forms structure -->

{% extends 'base.html' %}

{% block content %}

<!-- Jinja2 logic for flashing messages with flash -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <!-- Div for the flashed message so we can style and add a button to close the flash -->
        <div class="flashedMessage">
            {{message}}
            <!-- Button with the HTML Entity for an X symbol -->
            <button onclick="this.parentElement.style.display='none';">&times;</button> <!-- Use JavaScript to hide the flashed message (AI helped here as I dont know js yet) -->
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- HEADER for 'dashboard.html'-->
<header>
    <!-- create a div to store the apps logo and title for page -->
    <div class="banner">
        <img src="{{ url_for('static', filename='images/app-logo.PNG') }}" alt="Checkbook Logo" id="appLogo">
        <h1>Check Register for {{month_name}} {{year_id}}</h1>
    </div>
    <!-- Nav Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for('view.dashboard')}}" id="dashboardlink">Dashboard</a></li>
            <li><a href="{{url_for('auth.logout')}}" id="logoutlink">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Create a div and class for the checkbook table -->
<div class="tableData">
    <!-- Add Jinja2 logic -->
    {% if transactions | length < 1 %}
        <h3 id="tablePlaceholder">Add Your First Transaction!</h3>
    {% else %}
        <!-- Create the checkbook table -->
        <table>
            <thead>
                <th>Type +/-</th>
                <th>Date</th>
                <th>About</th>
                <th>Amount</th>
                <th>Actions</th>
            </thead>
            <!-- Add looping logic to create the table from the database data -->
            {% for transaction in transactions %}
                <tr>
                    {% if transaction.type == "+" %}
                        <td class="deposit"></td>
                    {% elif transaction.type == "-" %}
                        <td class="withdraw"></td>
                    {% endif %}
                    <td>{{transaction.date.strftime("%Y-%m-%d")}}</td> <!-- Format the date to YYYY-MM-DD using strftime -->
                    <td>{{transaction.content}}</td>
                    <td>{{transaction.formatAmount}}</td>
                    <td>
                        <!-- Give edit and delete options in the table -->
                        <a href="{{url_for('view.delete', year_id=year_id, month_id=month_id, id=transaction.id)}}">
                            <button>Delete</button> <!-- Create a link that looks like a button -->
                        </a>
                        <br>
                        <a href="{{url_for('view.edit', year_id=year_id, month_id=month_id, id=transaction.id)}}">
                            <button>Edit</button>
                        </a>
                    </td>
                </tr> 
            {% endfor %}
        </table>
    {% endif %}
</div>

<!-- Create a new container for the starting balance form and the user input forms so they can be in the same row -->
<div class="checkbookForms">
    <!-- Create a Form for the users starting monthly balance -->
    <div class="startingBalance">
        <!-- Make sure there are no transactions so this is the first thing the user does -->
        {% if not starting_balance %}
            <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
                <!-- CSRF Token for security and other hidden elements -->
                {{starting_balance_form.hidden_tag()}}
                <div class="form-row">
                    <label for="{{starting_balance_form.starting_balance.id}}">Starting Balance <br> {{month_name}} {{year_id}}: </label>
                    {{starting_balance_form.starting_balance()}}
                </div>
                <div class="form-row">
                    {{starting_balance_form.submit()}}
                </div>
            </form>
        {% else %}
            <!-- Create a new form to reset the users balance -->
            <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
                <!-- CSRF Token for security and other hidden elements -->
                {{reset_balance_form.hidden_tag()}}
                <!-- p tags -->
                <p>Starting Balance: <span>${{starting_balance}}</span></p>
                <p>This Months Balance: <span>${{total_balance}}</span></p>
                <!-- Submit Button -->
                <div class="form-row">
                    {{reset_balance_form.submit()}}
                </div>
            </form>
        {% endif %}
    </div>

    <!-- Create a Form for user input -->
    <div class="userInput">
        <form action="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" method="POST">
            <!-- CSRF Token for security and other hidden elements -->
            {{user_input_form.hidden_tag()}}
            <!-- Wrap each input field in a container called 'form-row' for styling purposes -->
            <!-- Date Input -->
            <div class="form-row">
                {{user_input_form.date.label}}
                {{user_input_form.date()}}
            </div>
            <!-- Content Input -->
            <div class="form-row">
                {{user_input_form.content.label}}
                {{user_input_form.content()}}
            </div>
            <!-- Amount Input -->
            <div class="form-row">
                {{user_input_form.amount.label}}
                {{user_input_form.amount()}}
            </div>
            <!-- Create a select dropdown for the transaction type -->
            <div class="form-row">
                {{user_input_form.type.label}}
                {{user_input_form.type()}}
            </div>
            <!-- Submit Button -->
            <div class="form-row">
                {{user_input_form.submit()}}
            </div>
        </form>
    </div>
</div>

{% endblock %}