<!-- 'dashboard.html' will serve as the main dashboard where users can select the current year or previous ones
and select which month they would like to view transaction in -->
<!-- This html file will use Jinja2 logic to loop through a list of months and pythons enumerate function to 
get the appropriate month_id (1 = January, 2 = February, ...) to mimic the month_id culumn in the database
and gather the appropriate data for a certain month -->
<!-- Additionally dashboard.html offers users to select a specific year they would like to view transactions for -->
<!-- This Template extends 'base.html' -->

{% extends 'base.html' %}

{% block content %}

<!-- HEADER for 'dashboard.html'-->
<header>
    <!-- Main header for dashboard page -->
    <h1>Dashboard</h1>
</header>

<!-- Create a div and class for a year selector -->
<div class="yearSelector">
    <h3>Selected Year: {{selected_year}}</h3>
    <form action="{{url_for('view.dashboard')}}" method="POST">
         <!-- Create a div to seperate the label and selector from the submit button for styling purposes -->
         <div class="yearForm">
             <label for="year">Year: </label>
             <select name="year" id="year" required>
                 <!-- Loop through the years list and create an option for each year -->
                 {% for year in range (2000, current_year + 1) %}
                     <!-- Use Jinja2 logic to default the selection to the current year -->
                     <option value="{{year}}" {% if year == selected_year %}selected{% endif %}>{{year}}</option>
                 {% endfor %}
             </select>
         </div>
         <input type="submit" value="Select Year">
    </form>
</div>

<!-- Create a div and class for all of the links to each month -->
<div class="monthButtonContainer">
    {% for month_id, month in enumerate(months, start=1) %}
        <!-- Create a link to the checkbook page for each month by giving it the url for the checkbook route and the month_id-->
        <!-- NOTE making the monthButtons dependent on the yearSelector is NOT required as year_id always defaults to the current year ie: 2025 -->
        <a href="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" class="monthButton"> 
            <button>{{month}}</button> <!-- Create a link that looks like a button -->
        </a>
    {% endfor %}
</div>
<!-- Link to logout -->
<a href="{{url_for('auth.logout')}}" id="logoutlink">Logout</a>

{% endblock %}