<!-- 'dashboard.html' will serve as the main dashboard where users can select the current year or previous ones
and select which month they would like to view transaction in -->
<!-- This html file will use Jinja2 logic to loop through a list of months and pythons enumerate function to 
get the appropriate month_id (1 = January, 2 = February, ...) to mimic the month_id culumn in the database
and gather the appropriate data for a certain month -->
<!-- Additionally dashboard.html offers users to select a specific year they would like to view transactions for -->
<!-- This Template extends 'base.html' -->

{% extends 'base.html' %}

{% block content %}

<!-- Main Header for the page -->
<h1>Dashboard</h1>

<!-- Create a div and class for a year selector -->
<div class="yearSelector">
   <h3>Please Select a Year</h3>
   <form action="{{url_for('view.dashboard')}}" method="POST">
        <label for="year">Year: </label>
        <select name="year" id="year" required>
            <!-- Loop through the years list and create an option for each year -->
            {% for year in range (1950, 2100) %}
                <!-- Use Jinja2 logic to default the selection to the current year -->
                <option value="{{year}}" {% if year == current_year %}selected{% endif %}>{{year}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select Year">
   </form>
</div>

<!-- Create a div and class for the main dashboard -->
<div class="dashboard">
    <!-- Create a div and class for all of the links to each month -->
    <div class="monthButtonContainer">
        {% for month_id, month in enumerate(months, start=1) %}
            <!-- Create a link to the checkbook page for each month by giving it the url for the checkbook route and the month_id-->
            <!-- NOTE making the monthButtons dependent on the yearSelector is NOT required as year_id always defaults to the current year ie: 2025 -->
            <a href="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" class="monthButton"> 
                {{month}}
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}