<!-- 'edit.html' creates an editing page where the selected transactions data can be modified in a form similar to the one in
'checkbook.html' and importantly all the fields in the form a pre-filled with the existing data for the users transaction -->
<!-- See 'EditTransactionForm' in 'forms.py' for more information about the form structure -->

{% extends 'base.html' %}

{% block content %}

<!-- HEADER for 'dashboard.html'-->
<header>
    <!-- Heading for the edit page -->
    <h1>Edit Your Transaction</h1>
    <!-- Nav Bar -->
    <nav class="navbar">
        <ul>
            <li><a href="{{url_for('view.checkbook', year_id=year_id, month_id=month_id)}}" id="backlink">Back</a></li>
            <li><a href="{{url_for('view.dashboard')}}" id="dashboardlink">Dashboard</a></li>
            <li><a href="{{url_for('auth.logout')}}" id="logoutlink">Logout</a></li>
        </ul>
    </nav>
</header>

<!-- Create a Form to allow users to edit the transaction -->
<div class="checkbookForms">
    <div class="userInput">
        <form action="{{url_for('view.edit', year_id=year_id, month_id=month_id, id=transaction.id)}}" method="POST">
            <!-- CSRF Token for security and other hidden elements -->
            {{form.hidden_tag()}}
            <!-- Wrap each input field in a container called 'form-row' for styling purposes -->
            <!-- Date Input -->
            <div class="form-row">
                {{form.date.label}}
                {{form.date()}}
            </div>
            <!-- Content Input -->
            <div class="form-row">
                {{form.content.label}}
                {{form.content()}}
            </div>
            <!-- Amount Input -->
            <div class="form-row">
                {{form.amount.label}}
                {{form.amount()}}
            </div>
            <!-- Create a select dropdown for the transaction type -->
            <div class="form-row">
                <!-- Transaction Type selector -->
                {{form.type.label}}
                {{form.type()}}
            </div>
            <!-- Submit Button -->
            <div class="form-row">
                {{form.submit()}}
            </div>
        </form>
    </div>
</div>

{% endblock %}